body{
  background: #fdfdfd;
}

body {
  margin:0;
  padding:0;
}

body{
  text-align:center;
  background:#f9f9f9;
}
.content{
  background:white;
  width:40%;
  padding:60px;
  margin-left:auto;
  margin-right:auto;
  margin-top:200px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

table{
  border-collapse:collapse;
  margin:0;
  width:100%
}

.header{
  background: url("background.jpg") center center;
  background-size: cover;
  text-align: left;
  margin-bottom: 90px;
  color:white;
}

.layer{
  width: inherit;
  height: inherit;
  background: rgba(0,0,0,0.4);
  display: flex;
  flex-direction: row;

}

.header-content{
  margin: 0;
  padding: 20px 50px;
  text-shadow: 0 0 20px white;
}

.center-vertical {
  text-align: right;
  padding-top: 40px;
}

.nav{
    color: white;
    font-size: 20px;
    padding-right: 15px;
    text-decoration: none;
}

.nav:hover{
    opacity: 0.7;
}

/*ref https://www.w3schools.com/css/css3_pagination.asp#*/
.pagination {
  display: inline-block;
  padding-top: 50px;
  padding-bottom: 50px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: deeppink;
  color: white;
  border-radius: 5px;
  box-shadow: 0 3px 9px rgba(0,0,0,0.3);
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

.mdl-tabs__tab{
  width: 50%;
}

.mdl-radio{
  padding-right: 15px;
}

td{
  padding-bottom: 15px;
}

.stats{
  padding: 50px;
  margin: 30px;
  background: white;
}